@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #fbbf24;
  /* #c4b004e5; */
  --grey-color: grey;
  --off-white: #f3f5f7;
}

body {
  font-family: "Montserrat", sans-serif;
  min-width: 100vw;
  text-align: center;
}

.navigation {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
}

.nav-brand {
  font-weight: bold;
}

.list-non-bullet.nav-pills {
  text-align: right;
}

.link {
  padding: 3rem;
}

.link.link-active {
  font-weight: bold;
}

.question-container {
  text-align: justify;

  border-style: solid;
  /* border-radius: 5rem; */
  padding: 0.5rem;
  box-sizing: border-box;
  border-width: 0.3rem;
  border-color: rgb(223, 217, 217);
  padding-left: 10rem;
}

.question-container label {
  display: inline;
}

.question-container p {
  text-align: center;
  padding: 1rem;
  color: #dc2626;
}

h1 {
  color: var(--primary-color);
  /* font-size: xx-large; */
  margin: 1rem;
}
h4 {
  color: var(--grey-color);
  font-size: larger;
  margin: 1rem;
}

label {
  display: block;
  font-size: large;
  font-weight: 600;
}

input {
  font-size: 14px;
  outline: #fff;
  padding: 0.6rem 1rem;
  margin: 1rem;
  border: 2px solid var(--primary-color);
  border-radius: 0.5rem;
  width: 100%;
  max-width: 258px;
}

#submit-button,
#start-button {
  background: var(--primary-color);
  color: var(--off-white);
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  font-size: large;
  cursor: pointer;
  margin: auto;
  display: block;
}

#submit-button:hover,
#start-button:hover {
  background: var(--off-white);
  color: var(--primary-color);
  border-color: var(--primary-color);
}

#output-text {
  display: block;
  font-size: larger;
  margin: 1rem 0 0;
  color: #dc2626;
  text-align: center;
  font-weight: bold;
}

footer {
  background-color: var(--primary-color);
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

footer p {
  margin: 1rem;
  font-size: large;
  text-align: center;
}

.footer-list {
  margin: 2rem;
}

a,
img,
li {
  display: inline;
  color: black;
  text-decoration: none;
}

img {
  width: 40px;
  padding: 0.2rem;
}

#quiz-section #quiz-form label {
  text-align: center;
  font-weight: normal;
  cursor: pointer;
}
